Dwragge.RCloneClient.ManagementUI/Connected Services/ServiceClient/Dwragge.RCloneClient.Persistence.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Dwragge.RCloneClient.Persistence" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dwragge.RCloneClient.Persistence" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BackupFolderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackupFolderId" type="xs:int" />
      <xs:element minOccurs="0" name="LastSync" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealTimeUpdates" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteBaseFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyncTimeHour" type="xs:int" />
      <xs:element minOccurs="0" name="SyncTimeMinute" type="xs:int" />
      <xs:element minOccurs="0" name="SyncTimeSpan" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackupFolderDto" nillable="true" type="tns:BackupFolderDto" />
  <xs:complexType name="RemoteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoteDto" nillable="true" type="tns:RemoteDto" />
  <xs:complexType name="ArrayOfRemoteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RemoteDto" nillable="true" type="tns:RemoteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemoteDto" nillable="true" type="tns:ArrayOfRemoteDto" />
</xs:schema>