Dwragge.RCloneClient.ManagementUI/Connected Services/ServiceClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RCloneManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IRCloneManagementService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dwragge.RCloneClient.Persistence" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRCloneManagementService_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IRCloneManagementService_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IRCloneManagementService_CreateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTask" />
  </wsdl:message>
  <wsdl:message name="IRCloneManagementService_CreateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IRCloneManagementService_GetRemotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemotes" />
  </wsdl:message>
  <wsdl:message name="IRCloneManagementService_GetRemotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemotesResponse" />
  </wsdl:message>
  <wsdl:message name="IRCloneManagementService_GetBackupFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackupFolders" />
  </wsdl:message>
  <wsdl:message name="IRCloneManagementService_GetBackupFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackupFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="IRCloneManagementService_PostHelloJob_InputMessage">
    <wsdl:part name="parameters" element="tns:PostHelloJob" />
  </wsdl:message>
  <wsdl:message name="IRCloneManagementService_PostHelloJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostHelloJobResponse" />
  </wsdl:message>
  <wsdl:portType name="IRCloneManagementService">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IRCloneManagementService/HelloWorld" message="tns:IRCloneManagementService_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRCloneManagementService/HelloWorldResponse" message="tns:IRCloneManagementService_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IRCloneManagementService/CreateTask" message="tns:IRCloneManagementService_CreateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRCloneManagementService/CreateTaskResponse" message="tns:IRCloneManagementService_CreateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRCloneManagementService/GetRemotes" message="tns:IRCloneManagementService_GetRemotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRCloneManagementService/GetRemotesResponse" message="tns:IRCloneManagementService_GetRemotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBackupFolders">
      <wsdl:input wsaw:Action="http://tempuri.org/IRCloneManagementService/GetBackupFolders" message="tns:IRCloneManagementService_GetBackupFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRCloneManagementService/GetBackupFoldersResponse" message="tns:IRCloneManagementService_GetBackupFolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostHelloJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IRCloneManagementService/PostHelloJob" message="tns:IRCloneManagementService_PostHelloJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRCloneManagementService/PostHelloJobResponse" message="tns:IRCloneManagementService_PostHelloJob_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IRCloneManagementService" type="tns:IRCloneManagementService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IRCloneManagementService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/IRCloneManagementService/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTask">
      <soap12:operation soapAction="http://tempuri.org/IRCloneManagementService/CreateTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemotes">
      <soap12:operation soapAction="http://tempuri.org/IRCloneManagementService/GetRemotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackupFolders">
      <soap12:operation soapAction="http://tempuri.org/IRCloneManagementService/GetBackupFolders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHelloJob">
      <soap12:operation soapAction="http://tempuri.org/IRCloneManagementService/PostHelloJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RCloneManagementService">
    <wsdl:port name="NetNamedPipeBinding_IRCloneManagementService" binding="tns:NetNamedPipeBinding_IRCloneManagementService">
      <soap12:address location="net.pipe://localhost/com.Dwragge.RCloneClientService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/com.Dwragge.RCloneClientService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-4587BO8\dylan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>